@font-face {
	font-family: 'Futura';
	src: url('./images/Futura.ttf');
}

/* STYLES DES ARTICLES */
	html {
		background-color: #eee;
	}
	body {
		margin-bottom: 0px;
	}
	ul {
		text-align: left;
	}
	li {
	    margin-top: 16px;
	}
	.corps {
		margin-left: auto;
		margin-right: auto;
		width: 900px;
		background-color: #ccc;
		border-right: 6px ridge #888;
		border-left: 6px groove #888;
		padding: 35px 10px 10px 10px;
	}
	.lien {
		color: #070;
		text-decoration: underline;
	}
	h1, h2, h3 {
		font-family: Futura, serif;
		text-decoration: underline;
		color: #070;
	}
	h1 {
		font-size: 24px;	
		text-align: center;
		font-weight: bold;
	}
	h2, h3 {
		font-size: 20px;	
		font-weight: normal;
	}
	h3 {
		margin-top: 20px;
	}
	p {
		margin-left: 15px;
	}
	.boulAdresse {
		margin-top: 4px;
		margin-bottom: 10px;
	}


/* STYLES DU MENU */
	.menu {
		position: fixed;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 60px;
		background-color: #459310;
		margin: 0px 0px 0px 0px;
		z-index: 10;
		border-bottom: 4px groove #0c0;
	}
	.title {
		font-family: Futura, serif;
		font-size: 20px;
		border-right: 1px solid black;
		border-radius: 10px;
		padding: 10px 10px 10px 20px;
	}
	.fb_link-top {
		width: 25px;
		height:25px;
		position: fixed;
		right: 15px;
		top: 18px;
		z-index:500;
	}
	.item, .item-act {
		font-family: Futura, serif;
		font-size: 15px;
		padding: 2px 8px 2px 10px;
		border-top: 1px solid black;
		border-right: 1px solid black;
		border-bottom: 1px solid black;
		border-radius: 0px 10px 10px 0px;
	}
	.item-grp {
		padding: 2px 0px 2px 0px;
		/*border-top: 1px solid black;
		border-bottom: 1px solid black;
		border-radius: 0px 10px 10px 0px;*/
	}
	.item-act {
		box-shadow: 0px 15px 20px #2b2;
		color: #0c0;
	}
	a {
		color: #000000;
		text-decoration: none;
	}
